html {
    background-color: white;
    font-family: "Montserrat", serif;
}

body {
    font-size: 15px;
}
.montserrat-bold-gray {
    color:darkgray;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .montserrat-bold-black {
    color:black;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .montserrat-h1, .montserrat-the-rest {
    color:black;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 0px;
  }
  .montserrat-menu {
    font-size: 1rem;
    margin-bottom: 5px;
    color: rgb(131, 131, 131);
    text-decoration: underline;
    font-weight: 350;
    font-style: unset;
    margin-left: 0;
  }

  .img-cen {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 

  /*.img-right {
    display:grid;
    float: right;
  
  } */
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #main-h1 {
    padding-bottom: 0px;
    font-size: 4rem;
    text-align: left;
    /* was center */
    height: 50%;
    margin-bottom: 0px;
    margin-left: 10px;
    /* margin bottom was 7px */
  }

  .boxes {
    display: inline-block;
    height: 400px;
    width: 400px;
    vertical-align: top;
  }

  .menu-txt {
    display: inline;
    /*width: 130px; */
    margin-left: 10px;
    margin-right: 30px;
    /* display was flex. If changing back remove left margin in menu style
    
    justify-content: center; */
  }

  a {
    text-decoration: none;
  }

  .logo2 {
    margin-top: 10px;
    margin-left: 1em;
    width: 70px;
  }

  h2 {
    color:black;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    margin-left: .6em;
  }

  p {
    color:black;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 0px;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1rem;
  }

  .email-detail {
    font-optical-sizing: auto;
    margin-left: 1em;
    color: blue;
    font-weight: 350;
    font-style: unset;
    margin-left: 0px;
  }

img {
  margin: 5px;
  width: 250px;
  height: auto;
}
